
  .page-changer .prev {
    background: url(../image/icon/arrow-left.svg);
  }
  .page-changer .next {
    background: url(../image/icon/arrow-right.svg);
  }
  .page-changer .next,
  .page-changer .prev {
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    width: 42px;
    height: 42px;
    margin: 0 10px;
  }
  .page-changer .next:hover,
  .page-changer .prev :hover{
    background-color: lightgray;
  }
  .page-changer .empty {
    width: 42px;
    height: 42px;
    margin: 0 10px;
  }