:root{
  --bg-color: rgb(222, 222, 222);
}
body{
  background-color: var(--bg-color);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  text-align: center;
  padding: 20px;
}
.inlineblock { 
  border-radius: 4px;
  display: inline-block;
  zoom: 1;
  background-color: white;
  width: 95%;
  box-shadow: 2px 2px 5px grey;
}
div.test {
	/* position: relative; */
  /* width: 80px; */
  border: 1px solid;
}

.button {  
  padding: 7px;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #a3a3a3;
  margin: 0 10px;
  line-height: 30px;
  cursor: pointer;
  font-size: 18px;
}
.button:hover {
  background-color: var(--bg-color);
  color: #ffffff;
}
.button:active {
  background-color: #0ad4fa;
  color: #ffffff;
}
body, html {
  height: 100%;
}
.message {
  display: inline-block;
  text-align: center;
  zoom: 1;
  position: fixed;
  width: 95%;
  z-index: 101;
  color: black;
  font-size: 30px;
  border-radius: 20px;
  animation: hideMessage 3s;
  animation-fill-mode: forwards;
}
.message-hidden {
  display: none;
}
@keyframes hideMessage {
  /* You could think of as "step 1" */
  80% {
    background-color: rgba(7, 255, 243, 0.439);
    color: black;
  }
  /* You could think of as "step 2" */
  99% {
    background-color: rgba(231, 249, 255, 0)ff70;
    color: rgba(0, 0, 0, 0);
    width: 95%;
    font-size: 30px;
  }
  100%{
    background-color: rgba(231, 249, 255, 0)ff70;
    color: rgba(0, 0, 0, 0);
    width: 0;
    font-size: 0;
  }
}

.loading {
  top: 0px;
  left: 0px;
  display: inline-block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #0000009c;
}
.loading-hidden {
  display: none;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height:60px;
  width:60px;
  margin:0px auto;
  -webkit-animation: rotation .6s infinite linear;
  -moz-animation: rotation .6s infinite linear;
  -o-animation: rotation .6s infinite linear;
  animation: rotation .6s infinite linear;
  border-left:6px solid rgba(0,174,239,.15);
  border-right:6px solid rgba(0,174,239,.15);
  border-bottom:6px solid rgba(0,174,239,.15);
  border-top:6px solid rgba(0,174,239,.8);
  border-radius:100%;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
  from {-o-transform: rotate(0deg);}
  to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}